
/*playlist*/

section.playlist{
	background-color: #222;
	padding: 10px 2%;
	color: #fff;
	border-bottom:1px solid #444;
}
	.playlist-title{
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 3px;
	}
	.playlist-subtitle{
		opacity: 0.5;
	}
		.playlist-subtitle a{
			color: #fff;
		}



/*playlistVideos*/
section.playlistVideos{
	background: #222;
}
section.playlistVideos ul.videos{
	margin: 0;
	width: 100%;
	background: #222;
}
	section.playlistVideos ul.videos.scroll{
		height: 240px;
		overflow: scroll;
	}
	section.playlistVideos ul li{
		margin: 0;
	}
	section.playlistVideos ul.videos li a{
		padding: 2%;
		display: block;
		background-color: #222;
		border-bottom:1px solid rgba(255,255,255,0.1);
	}
		section.playlistVideos ul.videos li a.active{
			background-color: #333;
		}

	section.playlistVideos ul.videos .videos_desc{
		color: rgba(255,255,255,0.7);
		background-color:transparent;
		border:none;
		height: 58px;
		padding-top: 4px;
	}
		section.playlistVideos ul.videos a.active .videos_desc{
			color: #fff;
		}
		section.playlistVideos ul.videos .videos_desc h2{
			font-weight: 500;
		}
	section.playlistVideos ul.videos .videos_desc .video_view_count{
		color: #fff;
		opacity: 0.7;
		padding-left: 10px;
	}
	.videos_order{
		width: 10px;
		height: 62px;
		line-height: 62px;
		margin-right: 10px;
		margin-left: 5px;
		float: left;
		color: #fff;
		opacity: 0.5;
		font-size: 10px;
	}
		.active .videos_order{
			opacity: 1;
			/*color: #f85d12;*/
		}

@media only screen and (min-width: 767px) {
/*	section ul.videos {
		margin-left: 3%;
	}*/
	section.playlistVideos ul.videos li{
		width: 50%;
		float: left;
	}
}
.desc-toggle.light {
	margin-top: 10px;
}
.desc-toggle.light span {
	background-position: -77px -57px;
	opacity: 0.6;
}

.desc-toggle.light.active span {
	background-position: -77px -64px;
	opacity: 0.8;
}

